{% extends 'layout.html' %}

{% block content %}

   <div id="pgAboutDiv" class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Hakkımda</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo molestias dolores omnis! Qui repellendus, consequatur sapiente, explicabo, est nihil non aut beatae sint hic earum deserunt mollitia veritatis aliquid quam. Inventore suscipit, non earum aliquid mollitia exercitationem eaque saepe assumenda optio quisquam ullam vel. Eum deleniti aliquam repellendus totam eaque iure quod magni doloremque ratione. Quidem ex, atque voluptas excepturi vero expedita veritatis illo similique ipsam perspiciatis harum eveniet repellendus debitis velit reprehenderit. Commodi sed obcaecati eveniet velit dolorum dolor sapiente eligendi, tenetur itaque praesentium, ut magnam quibusdam! Odio tempora ratione adipisci id quo nostrum provident amet ab placeat laboriosam!</p>
            </div>
            
        </div>   
    
   </div>

{% endblock %}
