{% extends 'layout.html' %}
{% load static %}

{% block content %}
<div id="pgContactDiv" class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="container">
                <h3>E-Posta</h3>
                <h5 id="mailName"><a href="https://volkankaraali.github.io" target="_blank">volkankaraali.github.io</a> </h5>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="container">
                <h3>Sosyal Medya</h3>
            <ul class="socialMedia">
                <li><a href="https://twitter.com/" target="_blank" ><img id="contactSocialImg"src="/images/contact/twitterblack.png" alt="twitterlogo"></a></li>
                <li><a href="https://www.instagram.com" target="_blank"><img id="contactSocialImg"src="/images/contact/instagramlogo.png" alt="twitterlogo"></a></li>
                <li><a href="https://www.linkedin.com/" target="_blank"><img id="contactSocialImg"src="/images/contact/linkedin-logo.png" alt="twitterlogo"></a></li>
                
            </ul>
            </div>
        </div>
    </div>   

</div>
    
{% endblock %}
