{% extends 'layout.html' %}

{% block content %}
    
    <div class="container">
        <div class="row mt-3">
            <div class="col-sm-9">
                
                {%for randompost in randomPosts%}
                <div class="card-deck">
                    <div class="card mb-2">
                        {%if randompost.img %}
                        <a href="{% url 'detail' randompost.title %}"><img id="homeImg"src="{{randompost.img.url}}" class="d-block"
                                alt="..." height=""></a>
                        {%else%}
                        <a href="{% url 'detail' randompost.title %}"><img id="homeImg" src="/images/blogapp-site.png" class="d-block"
                                alt="No Image" height=""></a>
                        {%endif%}
                      <div class="card-body">
                        <a href="{% url 'detail' randompost.title %}"><h5 class="card-title">{{randompost.title}}</h5></a>
                        <a href="{% url 'detail' randompost.title %}"><p class="card-text">{{randompost.content|truncatechars:100}}</p></a>
                        <small class="text-muted">{{randompost.category}}</small>
                        <small class="text-muted">{{randompost.createDate|date:'j F Y'}}</small>  
                      </div>
                    </div>
                  </div>
                {%endfor%}
            </div>
            <div class="col-sm-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th id="tbLastPosts">Son Yazılar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for lastpost in lastposts%}
                        <tr>
                            <td id="tbLastPostTitle"><a id="aLastPostTitle" href="{% url 'detail' lastpost.title %}" target="_blank">{{lastpost.title}} <span id="spanDate">({{lastpost.createDate| date:'j F Y'}})</span></a></td>
                        </tr>
                        {%endfor%}
                    </tbody>

                </table>
    
            </div>
        
        </div>
    </div>
    

{% endblock %}
