#tbLastPostTitle{
    
}

#tbLastPosts{
    background-color: #101726;
    color:#EBEFF2 ;
}

#aLastPostTitle{
    color: #101726;
    text-decoration: none;
}

#spanDate{
    font-size: 12px;
}
#pgPostImg{
    width: 100%;
    height: 100%;
}